<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="<{resource()}>admin/Css/add_category.css" />
    <title></title>
</head>
<body>
<form action="" method="post">
    <table class="table">
        <input type="hidden" name="cate_id" value="<{$data.cate_id}>">
        <tr>
            <td>分类名称</td>
            <td><input type="text" name="cate_name" value="<{$data.cate_name}>"/></td>
        </tr>
        <tr>
            <td>分类顺序</td>
            <td><input type="text" name="cate_order" value="<{$data.cate_order}>"/></td>
        </tr>
        <tr>
            <td>分类状态</td>
            <td> <input type="radio" name="cate_status" value="1"
                <{if $data.cate_status eq '1'}>
                checked
                <{/if}> />显示
                <input type="radio" name="cate_status"  value="0"
                <{if $data.cate_status eq '0'}>
                checked
                <{/if}> />
                不显示
            </td>
        </tr>
        <tr>
            <td>所属分类</td>
            <td>
                <select name="cate_pid">
                    <option value="<{$data.cate_id}>">
                        <{if $data.cate_pid eq '0'}>
                        <{$data.cate_name}>
                        <{elseif $data.cate_pid neq '0'}>
                            <{foreach from=$cates item=vo}>
                                <{if $data.cate_pid eq $vo.cate_id}>
                                <{$vo.cate_name}>
                                <{/if}>
                            <{/foreach}>
                        <{/if}>
                    </option>
                    <{foreach from=$cates item=vo}>
                    <option value="<{$vo.cate_id}>">
                        <{str_repeat("---",$vo.level)}><{$vo.cate_name}>
                    </option>
                    <{/foreach}>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="确认修改" class="input_button"/>
                <input type="reset" class="input_button"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>